<div class="container">
    <div>
        Welcome!
    </div>
    <div>
        Join game! Enter game code below, then tap 'Join Game':
        <div>
            <input type="text" [formControl]="gameCodeEntry">
        </div>
        <div>
            <button (click)="onJoinGameClick()">Join Game</button>
        </div>
    </div>
    <div>
        New game! Tap 'New Game' below:
        <div>
            <button>New Game</button>
        </div>
    </div>
</div>

<ng-template #joinGameModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Enter username</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Username</label>
            <div class="input-group">
                <input type="text" class="form-control" [formControl]="username">
            </div>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Continue</button>
    </div>
  </ng-template>