<div class="container">
    <div class="row" *ngIf="player.team == Team.None">
        {{player.name}}, choose a team
        <button class="btn btn-outline-dark" (click)="onTeamSelect(Team.Blue)">Blue</button> or
        <button class="btn btn-outline-dark" (click)="onTeamSelect(Team.Red)">Red</button>
    </div>
    <div class="row" *ngIf="player.team != Team.None && player.isHost">
        <div class="col-sm">
            <button class="btn btn-outline-dark" (click)="onStartGameClick()">Start Game!</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Blue</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let p of game.players">
                        <tr *ngIf="p.team == Team.Blue">
                            <td>
                                <fa-icon *ngIf="p.isHost" [icon]="faCrown"></fa-icon>
                                <fa-icon *ngIf="p.isWordMaster" [icon]="faBullhorn"></fa-icon>
                                {{p.name}}
                                <button *ngIf="p.id == player.id" class="btn btn-outline-dark" 
                                    (click)="onTeamSelect(Team.Red)">Switch to Red</button>
                                <button *ngIf="p.id == player.id && !player.isWordMaster" class="btn btn-outline-dark" 
                                    (click)="onWordMasterSelect()">Be WordMaster</button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <div class="col-sm">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Red</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let p of game.players">
                        <tr *ngIf="p.team == Team.Red">
                            <td>
                                <fa-icon *ngIf="p.isHost" [icon]="faCrown"></fa-icon>
                                <fa-icon *ngIf="p.isWordMaster" [icon]="faBullhorn"></fa-icon>
                                {{p.name}}
                                <button *ngIf="p.id == player.id" class="btn btn-outline-dark" 
                                    (click)="onTeamSelect(Team.Blue)">Switch to Blue</button>
                                <button *ngIf="p.id == player.id && !player.isWordMaster" class="btn btn-outline-dark" 
                                    (click)="onWordMasterSelect()">Be WordMaster</button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Undecided</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let p of game.players">
                        <tr *ngIf="p.team == Team.None">
                            <td>
                                <fa-icon *ngIf="p.isHost"
                                    [icon]="faCrown"></fa-icon>
                                {{p.name}}
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>