<div class="container">
    <div class="row">
        <div class="col-sm">
            Turn: {{game.turns.active == null ? game.startTeam : game.turns.active.team}}
        </div>
        <div class="col-sm">
            <app-game-code-link [code]="game.code"></app-game-code-link>
        </div>
    </div>
    <div class="row" *ngIf="person.role == Role.SPYMASTER && 
        ((game.turns.active != null && game.turns.active.team == person.team && game.turns.active.clue == null) ||
         (game.turns.active == null && game.startTeam == person.team))">
        <div class="col-sm">
            <div class="form-group">
                Submit # of guesses
                <div class="input-group">
                    <input type="text" [formControl]="numGuesses" class="form-control" appOnlyNumber maxLength="1">
                </div>
                <div class="input-group">
                    <button (click)="onSubmitGuessesClick()" class="btn btn-outline-dark">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <ng-container *ngFor="let tile of game.tiles">
            <div class="card">
                <div class="card-body" [ngClass]="{
                    'secret': person.role == Role.SPY && !tile.selected,
                    'red': tile.selected && tile.team == Team.RED,
                    'red-spymaster': person.role == Role.SPYMASTER && !tile.selected && tile.team == Team.RED,
                    'blue': tile.selected && tile.team == Team.BLUE,
                    'blue-spymaster': person.role == Role.SPYMASTER && !tile.selected && tile.team == Team.BLUE,
                    'neutral': tile.selected && tile.team == Team.NEUTRAL,
                    'neutral-spymaster': person.role == Role.SPYMASTER && !tile.selected && tile.team == Team.NEUTRAL,
                    'assassin': tile.selected && tile.team == Team.ASSASSIN,
                    'assassin-spymaster': person.role == Role.SPYMASTER && !tile.selected && tile.team == Team.ASSASSIN
                }">
                    {{tile.word}} | {{tile.team}} | {{tile.selected}}
                </div>
            </div>
        </ng-container>
    </div>
    <div class="row">
        {{game | json}}
        {{person | json}}
    </div>
</div>